/* color palette: http://colorschemedesigner.com/#0041YnZw0w0w0 */

@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background-color: #FFB770;
	font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
}

#container {
	width: 75%;
	margin: 20px auto 24px auto;
	padding: 0;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	border: 1px solid #FF9F40;
	border-radius: 4px;
}

h1 {
	margin: 12px 0 0 0;
	padding: 12px 0 8px 24px;
	color: #FF4040;
	border-radius: 3px 3px 0 0;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	padding: 0 24px;
}

#fb-login-button {
	display: inline-block;
	background-color: #2B889E;
	width: 230px;
	text-align: center;
	padding: 8px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 12px 0 12px 24px;
	box-shadow: 1px 1px 3px #5A5A5A;
	text-decoration: none;
}

#fb-login-button:hover {
	background-color: #0E5667;
}

#facebook-load {
	margin: 0 24px 12px 24px;
	padding: 8px;
	border: 1px solid #118511;
	border-radius: 3px;
}

#map-canvas {
	width: 100%;
	height: 380px;
}

.friends-map, .gm-style .gm-style-iw div {
	display: block;
	width: 340px;
	font-size: 22px;
		padding: 0;
}

.friends-map ul, .gm-style .gm-style-iw div ul {
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}

.friends-map ul li, .gm-style .gm-style-iw div ul li {
	display: inline-block;
	padding: 3px;
}

.friends-map ul li img {
	display: block;
	width: 50px;
	height: 50px;
}
